@mixin mobMainCompany {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin mobNameCompany {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-17-5) var(--unnamed-font-family-muli);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: center;
    color: #545D63;
    opacity: 1;
}

//mobile and tablet view
@media all and (min-width:320px) and (max-width : 768px) {

    .main-company {
        @include mobMainCompany;
    }

    .name-company {
        @include mobNameCompany;
    }

}

//Desktop view
@media all and (min-width:769px) {
    .main-company {
        @include mobMainCompany;
    }

    .name-company {
        @include mobNameCompany;
    }
}